In [1]:
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize
import spacy
from time import time
from keras.preprocessing.text import one_hot
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Embedding, Dense, Conv1D, MaxPooling1D, Flatten
from keras.layers import Input, Dense
from keras.models import Model
from keras.models import Sequential
from matplotlib import pyplot as plt

%matplotlib inline

Using TensorFlow backend.

In [2]:
text = ['oi como vai voce']

In [3]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(text)

In [15]:
word_index = tokenizer.word_index
words = list(word_index.keys())
sequences = tokenizer.texts_to_sequences(text)

In [67]:
index = ['<PAD>'] + words
index

['<PAD>', 'oi', 'como', 'vai', 'voce']

In [70]:
embed_df = pd.DataFrame(index=index, columns=[0,1,2])

In [13]:
embed_df[0] = np.random.rand(4)
embed_df[1] = np.random.rand(4)
embed_df[2] = np.random.rand(4)

In [71]:
embed_df

         0    1    2
<PAD>  NaN  NaN  NaN
oi     NaN  NaN  NaN
como   NaN  NaN  NaN
vai    NaN  NaN  NaN
voce   NaN  NaN  NaN

In [23]:
word_index = {j:i+1 for i,j in enumerate(embed_df.index.tolist())}

In [27]:
embed_df

             0         1         2
oi    0.211020  0.447419  0.751927
como  0.371329  0.079752  0.318990
vai   0.029809  0.177990  0.798674
voce  0.759820  0.501206  0.487167

In [56]:
embedding = Embedding(len(embed_df), len(embed_df.columns), weights=[embed_df.values],
                            input_length=1, trainable=False, mask_zero=False)

In [57]:
model = Sequential()
model.add(embedding)

In [58]:
model.predict(np.array([[0]]))

array([[[0.21102032, 0.44741926, 0.7519274 ]]], dtype=float32)